<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocado - Configure Detection Rules</title>
    <script>const config = <%- config %></script>
    <script>const userPath = "<%- userPath %>"</script>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>

<body>
<%- include('partials/header') %>

<main>
    <h1>Your configuration for AI detection</h1>
    <% if(saved == 'ok'){ %>
        <p class="message">Your configuration was saved</p>
    <% } else if(saved == 'error'){ %>
        <p class="message">Something went wrong, couldn't save your configuration</p>
    <% } %> 

    <form id="configForm" action="config" method="post">
        <input id="configInput" name="configTXT" type="hidden">
        <section>
            <h2>Detection type</h2>
            <input name="detectionType" id="gestureDetection" type="radio" value="gestures" <% if(detectionType == 'gestures') { %> checked <% } %> > 
            <label class="inline" for="gestureDetection">Gestures</label><br>
            <input name="detectionType" id="objectDetection" type="radio" value="objects" <% if(detectionType == 'objects') { %> checked <% } %> >
            <label class="inline" for="objectDetection">Objects</label>
        </section>
        <section id="gestureDetectionParams" class="params" <% if(detectionType != 'gestures') { %> class="hidden"<% } %> >
            <h2>AI model settings for gesture detection</h2>
            <label for="gestureModel">Model</label>
            <select id="gestureModel"  >
            <% for (const model of gestureModels) { %>
                <option value="<%- model %>" <% if(model == currentModel.gestures) { %>selected<% } %> ><%- model %></option>  
            <% } %>
            </select>
            <label for="gestureNr">Number of hands to detect (1 or 2)</label>
            <input id="gestureNr" type="number" value="<%- nr.gestures %>" min="1" max="2">
            <!-- <label for="gestureDetection">Required confidence level</label>
            <input id="gestureConfidence" type="number" value="<%- confidence.gestures %>" min="0" max="100" step="5">% -->
        </section>
        <section id="objectDetectionParams" class="params" <% if(detectionType != 'objects') { %> class="hidden"<% } %> >
            <h2>AI model settings for object detection</h2>
            <label for="öbjectModel">Model</label>
            <select id="objectModel" >
            <% for (const model of objectModels) { %>
                <option value="<%- model %>" <% if(model == currentModel.objects) { %>selected<% } %> ><%- model %></option>  
            <% } %>
            </select>
            <label for="objectNr">Number of objects to detect (1-5)</label>
            <input id="objectNr" type="number" value="<%- nr.objects %>" min="1" max="5">
            <label for="objectConfidence">Minimum confidence level</label>
            <input id="objectConfidence" type="number" value="<%- confidence.objects %>" min="0" max="100" step="5">%
        </section>
        <section id="formContents" class="hidden">
        </section>
        <section id="formButtons" class="hidden">
            <button id="addRuleButton" type="button">Add rule</button>
            <div>
                <div>
                    <p><a href="<%- configURL %>" download="config-<%=timestamp%>.json">Download backup</a> of your current configuration</p>
                    <p><a href="/config/restore">Restore your configuration</a> from a backup</p>
                </div>
                <input class="primarybutton" type="submit" value="Save">
            </div>
        </section>

    </form>
</main>
<script src="./script/formBuilder.js"></script>
</body>
</html>